@{
    ViewData["Title"] = "Home Page";
}
<center>
<h1>Welcome to the Contract Monthly Claim System</h1>
    <p>This application allows lecturers to submit claims for hours worked.</p>
    <p>Programme Coordinators can verify and approve these claims efficiently.</p>
</center>
<!--ST10038389-->
<!--PROG6212 PART 2 OF POE -->
<!--Updated the Home Page Content.-->
<!--END OF FILE-->
